# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.github
pages/nosotros/index.vue

# Firebase service account keys
*firebase*.json
*firebase*-service-account*.json
*-service-account*.json
*service-account*.json
CW1hZvYcYm8CG9jWnEejyrWgtgby51P7UVdz1Mg2CWe5SGs.json
# Exception for Firebase rules which should be tracked
!firebase.rules.json
