@import 'balloon-css/balloon.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-emerald-50;
  font-family: "Inter", sans-serif;
}

h1, h2, h3 {
  font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
}

